body{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
}

h1{
  text-align: center;
  font-size: 58px;
  margin: 15px 0;
}

h2{
  font-size: 38px;
  text-align: center;
  margin-bottom: 5px;
}

h3{
  font-weight: 400;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  font-size: 22px;
}

a{
  color: #1565C0;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

ul{
  display: table;
  margin: 0 auto;
}

li{
  padding: 5px;
  font-size: 19px;
}

li a{
  color: #1565C0;
}

footer{
  color: white;
  background-color: #222;
  margin-top: 60px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

footer a{
  color: #bbb;
}

.clickable{
  color: white;
  background-color: #1565C0;
  font-family: inherit;
  font-size: 15px;
  line-height: 100%;
  padding: 10px 10px 7px 10px;
  margin: 5px;
  display: inline-block;
  width: 200px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  cursor: pointer;
  font-weight: 500;
  outline: none;
  border-radius: 4px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
}

.clickable:hover{
  background-color: #1976D2;
  text-decoration: none;
}

.clickable:active{
  background-color: #1565C0;
}

.clickable small{
  padding-top: 5px;
  display: block;
  font-weight: 400;
  text-transform: none;
}

.separator{
  display: block;
  margin: 5px auto;
  border-bottom: 2px solid #ccc;
  width: 240px;
}

#screenshots{
  display: block;
  margin: 20px auto;
  width: 90%;
  max-width: 540px;
  border-radius: 4px;
  box-shadow: 0 12px 17px 2px rgba(0,0,0,0.14), 0 5px 22px 4px rgba(0,0,0,0.12), 0 7px 8px -4px rgba(0,0,0,0.20);
}

#view-source{
  display: inline-block;
  height: 24px;
  width: 24px;
  padding: 5px;
  background-color: white;
  border-radius: 4px;
}
#view-source img{
  width: 100%;
}

#latest-version{
  padding-top: 20px;
  display: block;
  width: 90%;
  margin: 0 auto;
  font-size: 18px;
}

#latest-version strong{
  font-weight: 500;
  font-size: 19px;
}

#downloads{
  text-align: center;
  display: block;
  margin-bottom: 15px;
}

#more-info{
  text-align: center;
  font-weight: 500;
}
