:root{
  --active-color: #1976D2;
  --focus-color: #1E88E5;
	--red: #FF4136;
	--blue: #1976D2;
	--green: #2ECC40;
	--yellow: #FFDC00;
	--orange: #FF851B;
	--purple: #B10DC9;
	--light-black: rgba(0, 0, 0, 0.87);
	--light-gray: rgba(0, 0, 0, 0.06);
	--gray: rgba(0, 0, 0, 0.12);
	--dark-gray: rgba(0, 0, 0, 0.24);
	--elev-one:	0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
	--elev-two: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
	--elev-three: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
	--elev-four: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
	--elev-six: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
	--elev-eight: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
	--elev-nine: 0 9px 12px 1px rgba(0,0,0,0.14), 0 3px 16px 2px rgba(0,0,0,0.12), 0 5px 6px -3px rgba(0,0,0,0.20);
	--elev-twelve: 0 12px 17px 2px rgba(0,0,0,0.14), 0 5px 22px 4px rgba(0,0,0,0.12), 0 7px 8px -4px rgba(0,0,0,0.20);
	--elev-sixteen: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.20);
	--elev-twentyfour: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.20);
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  width: 90%;
  margin: 0 auto;
  color: #101010;
}

h1{
  text-align: center;
  font-size: 56px;
  margin: 20px 0 8px 0;
}

h2{
  font-size: 38px;
}

p{
  text-align: center;
  font-size: 21px;
}

#view-source{
  position: absolute;
  display: flex;
  color: inherit;
  margin-top: 10px;
  justify-content: space-between;
  border-radius: 4px;
  text-decoration: none;
}

#view-source span{
  opacity: 0;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  font-weight: 600;
  height: 42px;
  line-height: 42px;
  padding: 0 10px;
  border-radius: 0 4px 4px 0;
}

#view-source:hover{
  background-color: #f6f6f6;
}

#view-source:hover span{
  opacity: 1;
}

#view-source img{
  align-self: center;
  width: 32px;
  height: 32px;
}

.clickable{
  font-family: inherit;
  font-size: 15px;
  line-height: 100%;
  padding: 10px 10px 7px 10px;
  /* padding: 12px ; */
  margin: 5px;
  display: inline-block;
  width: 210px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  cursor: pointer;
  background-color: var(--active-color);
  color: white;
  font-weight: 600;
  outline: none;
  border-radius: 4px;
  box-shadow: var(--elev-three);
}

.clickable small{
  padding-top: 5px;
  display: block;
  font-weight: 300;
}

.clickable:hover{
  text-decoration: none;
  box-shadow: var(--elev-six);
}

.clickable:active{
  box-shadow: var(--elev-two);
}

.ripple {
  background-position: center;
  transition: background 0.5s;
}
.ripple:hover {
  background: var(--focus-color) radial-gradient(circle, transparent 1%, var(--focus-color) 1%) center/15000%;
}
.ripple:active {
  background-color: var(--active-color);
  background-size: 100%;
  transition: background 0s;
}

h2{
  text-align: center;
  margin: 20px 0 5px 0;
}

ul{
  width: 60%;
  margin: 0 auto;
  -moz-column-count: 2;
  -moz-column-gap: 40px;
  -webkit-column-count: 2;
  -webkit-column-gap: 40px;
  column-count: 2;
  column-gap: 40px;
}

li{
  padding: 5px;
  font-size: 20px;
}

#latest-version{
  padding: 20px 0;
  display: block;
  font-size: 21px;
}

#latest-version em{
  font-weight: 600;
}

#downloads{
  text-align: center;
}

#images{
  background-color: #eee;
  border-radius: 4px;
  padding: 20px 0;
}

#images img{
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 540px;
  border-radius: 4px;
}

#site-info{
  color: white;
  background-color: #222;
  margin-top: 60px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  border-radius: 4px 4px 0 0;
}

a{
  color: #aaa;
  text-decoration: none;
  padding-left: 10px;
}

a:hover{
  text-decoration: underline;
}

#supported-os{
  margin: 5px 0 10px 0;
  font-size: 16px;
  color: #777;
  font-weight: 600;
}

.hide{
  display: none;
}