body{
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  font-weight: 400;
  font-display: swap;
  margin: 0;
  color: #101010;
}

h1{
  text-align: center;
  font-size: 58px;
  margin: 0;
}

h2{
  font-size: 38px;
  text-align: center;
  margin-bottom: 5px;
}

p{
  text-align: center;
  font-size: 21px;
  width: 90%;
  margin: 0 auto;
}

a{
  color: #bbb;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

ul{
  display: table;
  margin: 0 auto;
}

li{
  padding: 5px;
  font-size: 20px;
}

li a{
  color: #1565C0;
}

.clickable{
  color: white;
  background-color: #1565C0;
  font-family: inherit;
  font-size: 15px;
  line-height: 100%;
  padding: 10px 10px 7px 10px;
  margin: 5px;
  display: inline-block;
  width: 200px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  cursor: pointer;
  font-weight: 600;
  outline: none;
  border-radius: 4px;
}

.clickable:hover{
  background-color: #1976D2;
  text-decoration: none;
}

.clickable:active{
  background-color: #1565C0;
}

.clickable small{
  padding-top: 5px;
  display: block;
  font-weight: 400;
  text-transform: none;
}

.separator{
  display: block;
  margin: 5px auto;
  border-bottom: 2px solid #ccc;
  width: 240px;
}

#screenshot{
  background-color: #f5f5f5;
  padding: 5px 0;
  width: 100%;
}

#screenshot img{
  display: block;
  margin: 15px auto;
  width: 90%;
  max-width: 540px;
  border-radius: 4px;
}

#view-source{
  display: block;
  height: 32px;
  width: 32px;
  padding: 5px;
  margin-top: 10px;
  margin-left: 5%;
  border-radius: 4px;
}
#view-source:hover{
  background-color: #f5f5f5;
}
#view-source img{
  width: 100%;
}

#latest-version{
  padding-top: 20px;
  display: block;
  width: 90%;
  margin: 0 auto;
  font-size: 21px;
}

#latest-version em{
  font-weight: 600;
}

#downloads{
  text-align: center;
}

#previous-versions{
  display: block;
  color: royalblue;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.6px;
  margin-top: 15px;
}

#site-info{
  color: white;
  background-color: #222;
  margin-top: 60px;
  padding: 6px;
  text-align: center;
  font-size: 17px;
}