@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500');

:root{
  --titlebar: #1d1d1d;
  --background: #2f2f2f;
  --highlight: rgba(120, 120, 120, 0.5);
  --scrollbar: #666666;  

  --black-dark: #222222;
  --black-hover: #2a2a2a;
  --black-light: #444444;

  --gray-dark: #848484;
  --gray-light: #aeaeae;

  --red-dark: #ff5546;
  --red-light: #ff5d4d;

  --blue-dark: #1976d2;
  --blue-light: #1e88e5;
}

body{
  font-family: 'Work Sans', sans-serif;
  margin: 0;
}

button{
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  outline: none;
  cursor: pointer;
  user-select: none;
}

/* ----- Scrollbar ----- */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar); 
}

/* ----- Icons ----- */
.fas{
  cursor: pointer;
}

.fa-music{
  font-size: 17px;
}

.fa-closed-captioning{
  font-size: 21px;
}