@import url('https://fonts.googleapis.com/css?family=Rubik:400,500');

:root{
  --titlebar: #1d1d1d;
  --background: #2f2f2f;
  --highlight: rgba(120, 120, 120, 0.5);
  --scrollbar: #666666;

  --black-dark: #222;
  --black-hover: #2a2a2a;
  --black-light: #444;

  --gray-dark: #848484;
  --gray-light: #aeaeae;

  --red-dark: #e53935;
  --red-light: #f44336;

  --blue-dark: #1976d2;
  --blue-light: #1e88e5;
}

body{
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
}

button{
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  outline: none;
  cursor: pointer;
  user-select: none;
}

/* ----- Tooltips ----- */
[data-tooltip]{
  position: relative;
  z-index: 2;
}

.fa-closed-captioning[data-tooltip]:hover::after{
  width: 140px;
  margin-left: -80px;
}
.fa-music[data-tooltip]:hover::after{
  width: 80px;
  margin-left: -48px;
}
.fa-folder[data-tooltip]:hover::after{
  width: 110px;
  left: -5px;
}
.fa-minus-circle[data-tooltip]:hover::after{
  width: 115px;
  left: -48px;
}
.fa-times-circle[data-tooltip]:hover::after{
  width: 100px;
  left: -40px;
}

[data-tooltip]:hover::after{
  content: attr(data-tooltip);
  position: absolute;
  top: -22px;
  left: 50%;
  text-align: center;
  padding: 3px 0;
  height: 12px;
  line-height: 12px;
  border-radius: 4px;
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 13px;
  color: white;
  background-color: var(--black-dark);
  animation: appear 0.8s steps(1, end);
}

@keyframes
appear{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ----- Scrollbar ----- */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar); 
}

/* ----- Icons ----- */
.fas{
  cursor: pointer;
}

.fa-music{
  font-size: 17px;
}

.fa-closed-captioning{
  font-size: 21px;
}

.hidden{
  visibility: hidden;
}