.downloadable{
  display: flex;
  height: 80px;
  width: 100%;
  position: relative;
}
.downloadable.chosen{
  background-color: var(--black4F);
}

/* ----- Left ----- */
.left img{
  height: 100%;
  width: 130px;
  object-fit: cover;
  user-select: none;
}

.left .duration{
  color: white;
  background-color: var(--black2F);
  position: absolute;
  top: 0;
  font-size: 12px;
  padding: 0 3px;
  border-bottom-right-radius: 4px;
  user-select: none;
  z-index: 1;
}
.left .fas{
  position: absolute;
  color: rgba(255, 255, 255, 0);
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 38px;
  top: 0;
  height: 80px;
  width: 130px;
  text-align: center;
  line-height: 80px;
}

.downloadable:hover .left .fas{
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}

.left .fa-pause-circle{
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}

.left .fa-check{
  cursor: default;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}

.downloadable:hover .left .fa-check{
  background-color: rgba(0, 0, 0, 0.8);
}

/* ----- Middle ----- */
.middle{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  border-bottom: 1px solid #333;
}

.middle h1{
  margin: 0;
  color: white;
  padding-left: 5px;
  font-weight: 400;
  font-size: 15.5px;
  max-height: 70%;
  overflow-y: scroll;
  user-select: none;
}
.middle h1::-webkit-scrollbar{
  display: none;
}

/* Options */
.options{
  padding-left: 5px;
  display: flex;
  height: 30%;
  user-select: none;
}

.options div{
  width: 33.33%;
  display: flex;
  align-self: center;
}
.quality{
  color: white;
  font-size: 17px;
  width: 50px;
  text-align: center;
  line-height: 15px;
  font-weight: 500;
}

.option-icon{
  align-self: center;
  width: 33.33%;
  text-align: center;
}

.options .fas{
  color: var(--black30);
}
.options .fas:hover{
  color: var(--white8A);
}

.options .selected{
  color: white;
}
.options .selected:hover{
  color: white;
}

/* Progress Bar and Info */
.progress{
  width: 100%;
  height: 30%;
  padding-left: 5px;
  user-select: none;
}

.progress .info span{
  font-size: 12px;
  color: var(--whiteA1);
  display: flex;
  justify-content: space-between;
}

.progress .bar{
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--black30);
  border-radius: 4px;
}

.progress .bar .value{
  display: block;
  height: 100%;
  border-radius: 4px;
  background-color: var(--blue15);
}

/* ----- Right ----- */
.right{
  display: flex;
  width: 16px;
  border-bottom: 1px solid #333;
}
.close{
  font-size: 22px;
  font-weight: 500;
  color: var(--white8A);
  opacity: 0;
  width: 16px;
  height: 20px;
  text-align: center;
  line-height: 100%;
  user-select: none;
  cursor: pointer;
}
.downloadable:hover .close{
  opacity: 1;
}
.close:hover{
  color: white;
}