#extras{
  height: calc(100vh - 30px);
  background-color: var(--background);
  color: white;
  font-size: 15px;
}

#extras button{
  line-height: 25px;
}

#tabs{
  display: flex;
  list-style: none;
  height: 30px;
  padding: 0;
  margin: 0;
}

#tabs li{
  background-color: var(--black-dark);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.6px;
  width: calc(100%/2);
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

#tabs li:hover{
  background-color: var(--black-hover);
}

#tabs li.active{
  background-color: var(--background);
}

#extras div{
  background-color: var(--background);
}

/* ----- Settings Page ----- */
#settings{
  padding: 10px;
}

#settings label{
  user-select: none;
}

#settings label small{
  color: var(--gray-light);
  font-size: 14px;
  font-weight: 400;
}

/* Download Location */
#download-location{
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

#download-location div{
  display: flex;
}

#location-text{
  color: var(--gray-light);
  flex-grow: 1;
  align-self: center;
}

#choose-location{
  width: 80px;
  border-radius: 40px;
  color: white;
  background-color: var(--blue-dark);
}

#choose-location:hover{
  background-color: var(--blue-light);
}

#choose-location:active{
  background-color: var(--blue-dark);
}

/* Simultaneous Downloads */
#max-simultaneous{
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

#max-simultaneous div{
  user-select: none; 
  display: flex; 
  width: 55px; 
  margin-top: 5px;
}

#max-simultaneous .fas{
  color: var(--black-light);
  align-self: center;
}
#max-simultaneous .fas:hover{
  color: var(--gray-dark);
}
#max-simultaneous .fas:active{
  color: var(--black-light);
}

#max-simultaneous-text{
  width: 35px; 
  text-align: center; 
  line-height: 100%;
  font-weight: 500;
}

/* Autonumber Items */
#autonumber-items{
  display: flex;
  padding-bottom: 20px;
}

#autonumber-items .fas{
  font-size: 18px;
  margin-right: 5px;
}

#autonumber-items label{
  cursor: pointer;
  align-self: center;
}

/* Audio Format */
.formats{
  padding-bottom: 20px;
  user-select: none;
}

.formats div{
  user-select: none; 
  display: flex; 
  width: 100px; 
  margin-top: 5px;
}

.format-text{
  width: 60px;
  text-align: center; 
  line-height: 100%;
  font-weight: 500;
}

.formats .fas{
  color: var(--black-light);
  align-self: center;
}
.formats .fas:hover{
  color: var(--gray-dark);
}
.formats .fas:active{
  color: var(--black-light);
}

/* ----- About Page ----- */
#about{
  padding: 10px;
  user-select: none;
}

#about header{
  display: flex;
  width: 150px;
  margin: 0 auto 5px auto;
  cursor: pointer;
}

#about header img{
  width: 35px;
  height: 35px;
}

#about header span{
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;
  margin-left: 10px;
  letter-spacing: 0.3px;
}
#about header span:hover{
  text-decoration: underline;
}

#app-version{
  padding-top: 5px;
  letter-spacing: 0.3px;
  text-align: center;
}

#app-version strong{
  font-weight: 500;
}

#about p{
  text-align: center;
  font-size: 15.5px;
  margin: 10px 0 5px 0;
}

#author{
  letter-spacing: 0.3px;
  text-align: center;
  color: var(--gray-light);
  margin-bottom: 25px;
  cursor: pointer;
}

#author strong{
  font-weight: 500;
}

#author:hover{
  text-decoration: underline;
}

#about button{
  padding: 0 5px;
  display: block;
  border-radius: 40px;
  margin: 15px auto 0 auto;
  color: white;
  background-color: var(--blue-dark);
  min-width: 180px;
}
#about button:hover{
  background-color: var(--blue-light);
}
#about button:active{
  background-color: var(--blue-dark);
}

#about button .spinner{
  margin-right: 2px;
  border-left-color: white;
  top: 3px;
}

.update-message{
  text-align: center;
  display: block;
  color: #bbb;
  margin-top: 5px;
  /* margin-bottom: 15px; */
}
