#extras{
  height: calc(100vh - 30px);
  background-color: var(--background);
  color: white;
}

#tabs{
  display: flex;
  list-style: none;
  height: 30px;
  padding: 0;
  margin: 0;
}

#tabs li{
  background-color: var(--black-dark);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.6px;
  width: calc(100%/2);
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

#tabs li:hover{
  background-color: var(--black-hover);
}

#tabs li.active{
  background-color: var(--background);
}

#extras div{
  background-color: var(--background);
}

/* ----- Settings Page ----- */
#settings{
  padding: 10px;
}

#settings label{
  user-select: none;
}

#settings label small{
  color: var(--gray-light);
  font-size: 15px;
  font-weight: 400;
}

/* Download Location */
#download-location{
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

#download-location div{
  display: flex;
}

#location-text{
  color: var(--gray-light);
  font-size: 15px;
  flex-grow: 1;
  align-self: center;
}

#choose-location{
  width: 80px;
  height: 25px;
  border-radius: 4px;
  color: white;
  background-color: var(--blue-dark);
}

#choose-location:hover{
  background-color: var(--blue-light);
}

#choose-location:active{
  background-color: var(--blue-dark);
}

/* Simultaneous Downloads */
#max-simultaneous{
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

#max-simultaneous div{
  user-select: none; 
  display: flex; 
  width: 55px; 
  margin-top: 5px;
}

#max-simultaneous .fas{
  color: var(--black-light);
  align-self: center;
}
#max-simultaneous .fas:hover{
  color: var(--gray-dark);
}
#max-simultaneous .fas:active{
  color: var(--black-light);
}

#max-simultaneous-text{
  width: 35px; 
  text-align: center; 
  line-height: 100%;
  font-size: 17px;
  font-weight: 500;
}

/* Autonumber Items */
#autonumber-items{
  display: flex;
}

#autonumber-items .fas{
  font-size: 18px;
  margin-right: 5px;
}

#autonumber-items label{
  cursor: pointer;
  align-self: center;
}

/* ----- About Page ----- */
#about{
  padding: 10px;
}

#about img{
  margin: 0 auto 5px auto;
  display: block;
  width: 70px;
  user-select: none;
}

#app-name{
  display: block;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

#app-version{
  display: block;
  text-align: center;
}

#about p{
  padding: 0;
  margin: 10px 0;
  text-align: center;
}

#about button{
  height: 25px;
  padding: 2px 10px;
  display: block;
  border-radius: 4px;
  color: white;
  background-color: var(--blue-dark);
}
#about button:hover{
  background-color: var(--blue-light);
}
#about button:active{
  background-color: var(--blue-dark);
}

#check-for-updates{
  margin: 5px auto;
}

#new-version-message{
  text-align: center;
  display: block;
  font-size: 15px;
  color: #bbb;
}