#main-page{
  background-color: var(--background);
}

/* ----- Inputbar ----- */
#inputbar{
  display: flex;
  height: 40px;
  background-color: var(--black-dark);
}

#inputbar input{
  font: inherit;
  padding: 5px 10px;
  border: none;
  color:  white;
  background-color: var(--black-dark);
  outline: none;
  flex-grow: 1;
  font-size: 15.5px;
}
#inputbar input::placeholder{
  color: var(--gray-light);
  user-select: none;
}

#inputbar .fas{
  color: white;
  font-size: 19px;
  line-height: 40px;
  width: 40px;
  text-align: center;
  transition: background-color .15s;
}

#inputbar span{
  position: relative;
  top: 35%;
  border-radius: 50%;
  background-color: var(--blue-dark);
  margin-right: 5px;
  z-index: 1;
}

#inputbar span:hover{
  background-color: var(--blue-light);
}

#inputbar span:active{
  background-color: var(--blue-dark);
}

/* ----- Center ----- */
#center{
  background-color: var(--background);
  overflow-y: scroll;
  /* 95px = titlebar (30) + inputbar (40) + messages (25) */
  height: calc(100vh - 95px);
  transition: height .20s;
}

#center.center-height{
  /* 50px = more options */
  height: calc(100vh - 95px - 50px);
}

#empty-message{
  margin: 20px;
  color: var(--gray-dark);
  user-select: none;
  text-align: center;
  font-size: 15.5px;
  opacity: 0;
  position: absolute;
}
#empty-message span{
  position: relative;
  font-size: 24px;
  top: 2px;
  font-weight: 500;
}
#empty-message.show-empty-message{
  opacity: 1;
  transition: opacity .2s 2s;
}

/* ----- Bottom -----*/
#bottom{
  background-color: var(--black-dark);
}

#more-options{
  width: 100%;
  height: 0px;
  transition: height .20s;
  display: flex;
}

#more-options.more-options-height{
  height: 50px;
}

#more-options .fas{
  color: var(--black-light)
}

#download-or-pause-many.fas{
  font-size: 40px;
  color: var(--gray-dark);
  line-height: 50px;
  width: 50px;
  text-align: center;
  cursor: pointer;
}
#bottom #download-or-pause-many.fas:hover{
  color: white;
}

#global-options{
  display: flex;
  width: 50%;
}

#global-options .fa-closed-captioning, #global-options .fa-music{
  line-height: 50px;
  flex-grow: 1;
}

#global-quality-select{
  margin-left: 5px;
  display: flex;
  line-height: 50px;
  flex-grow: 1;
}
#global-quality-select .fas{
  line-height: 50px;
}

#global-quality{
  color: white;
  font-weight: 500;
  width: 50px;
  text-align: center;
  user-select: none;
}

#messages{
  height: 25px;
  display: flex;
  position: relative;
  background-color: var(--black-dark);
  justify-content: space-between;
  z-index: 2;
  font-size: 14px;
  letter-spacing: 0.3px;
}

#loading-indicator{
  color: var(--gray-light);
  user-select: none;
  padding-left: 5px;
  line-height: 25px;
  width: 150px;
}

#show-hide{
  font-size: 19px;
  background-color: var(--black-dark);
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  position: relative;
  top: -10px;
  border-radius: 50%;
  cursor: pointer;
  color: var(--gray-light);
  transition: background-color .15s;
}

#show-hide .fas{
  line-height: 30px;
}

#show-hide span{
  transition: transform .20s;
}

#show-hide:hover{
  background-color: var(--black-light);
  color: white;
}
#bottom #show-hide .fas:hover{
  color: white;
}

#bottom .undo-button {
  height: initial;
  width: initial;
}

.rotate-arrow{
  transform: rotate(180deg);
}

#status{
  color: var(--gray-light);
  text-align: right;
  padding-right: 5px;
  line-height: 25px;
  width: 150px;
  user-select: none;
}

#bottom button{
  height: 25px;
  width: 100%;
  padding: 0 8px;
  color: white;
  background: none;
  cursor: pointer;
  font-size: 13px;
}

#buttons{
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.fa-times-circle, .fa-minus-circle{
  font-size: 19px;
  text-align: center;
  line-height: 50px;
}

#buttons .fa-times-circle{
  color: #EF5350;
}

#bottom button:hover{
  background-color: var(--black-hover);
}

#bottom .fas.selected{
  color: white;
}
#bottom .fas.selected:hover{
  color: white;
}

#bottom .fas:hover{
  color: var(--gray-dark);
}
#bottom .fas:active{
  color: var(--black-light);
}

#bottom .fa-times-circle:hover{
  color: var(--red-light);
}