#titlebar{
  height: 30px;
  width: 100%;
  background-color: var(--black16);
  display: flex;
  justify-content: space-between;
  user-select: none;
  text-align: center;
  -webkit-app-region: drag;
  overflow: hidden;
}

#titlebar .fas{
  color: var(--whiteA1);
  font-size: 17px;
  width: 20px;
  height: 100%;
  line-height: 30px;
  padding: 0 5px;
  align-self: center;
  -webkit-app-region: no-drag;
}
#titlebar .fas:hover{
  color: white;
}

#titlebar h1{
  color: white;
  padding: 0;
  margin: 0;
  font-size: 17px;
  font-weight: 500;
  align-self: center;
  padding-left: 50px;
}

#titlebar em{
  font-weight: 400;
  font-size: 16px;
}

#titlebar div{
  width: 70px;
  display: flex;
  justify-content: right;
  -webkit-app-region: no-drag;
}

#minimize-btn, #close-btn{
  color: var(--white8A);
  font-size: 26px;
  padding: 0 5px;
  line-height: 30px;
  flex-grow: 1;
  cursor: pointer;
}
#minimize-btn:hover{
  color: white;
  background-color: var(--black30);
}
#close-btn:hover{
  color: white;
  background-color: var(--redF6);
}
