#titlebar{
  height: 30px;
  background-color: var(--titlebar);
  display: flex;
  user-select: none;
  text-align: center;
  overflow: hidden;
  -webkit-app-region: drag;
}

#titlebar .fas{
  color: var(--gray-light);
  font-size: 17px;
  width: 40px;
  line-height: 30px;
  -webkit-app-region: no-drag;
}
#titlebar .fas:hover{
  color: white;
}

#titlebar h1{
  color: white;
  width: 100%;
  padding-left: 55px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  align-self: center;
}

#minimize-btn, #close-btn{
  color: var(--gray-dark);
  font-size: 24px;
  width: 50px;
  line-height: 30px;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

#minimize-btn:hover{
  color: white;
  background-color: var(--black-light);
}
#close-btn:hover{
  color: white;
  background-color: var(--red-dark);
}
