#titlebar{
  height: 30px;
  background-color: var(--black16);
  display: flex;
  user-select: none;
  text-align: center;
  overflow: hidden;
  -webkit-app-region: drag;
}

#titlebar .fas{
  color: var(--whiteA1);
  font-size: 17px;
  width: 40px;
  line-height: 30px;
  -webkit-app-region: no-drag;
}
#titlebar .fas:hover{
  color: white;
}

#titlebar h1{
  color: white;
  width: 100%;
  padding-left: 40px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 500;
  align-self: center;
}

#minimize-btn, #close-btn{
  color: var(--white8A);
  font-size: 26px;
  width: 40px;
  line-height: 30px;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

#minimize-btn:hover{
  color: white;
  background-color: var(--black30);
}
#close-btn:hover{
  color: white;
  background-color: var(--redF6);
}
