<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Downline</title>
  <link rel="stylesheet" href="../static/css/fontawesome.min.css">
  <link rel="stylesheet" href="../static/css/solid.min.css">
  <link rel="stylesheet" href="../static/css/app.css">
  <link rel="stylesheet" href="../static/css/titlebar.css">
  <link rel="stylesheet" href="../static/css/main-page.css">
  <link rel="stylesheet" href="../static/css/downloadable.css">
  <link rel="stylesheet" href="../static/css/extras.css">
</head>

<body>
  <div id="app">
    <section id="titlebar">
      <span class="fas" 
        :class="[{ 'fa-cog': !isExtrasOpen }, { 'fa-arrow-left': isExtrasOpen }]" 
        @click="isExtrasOpen = !isExtrasOpen">
      </span>
      <h1>Downline</h1>
      <span id="minimize-btn" @click="minimize">&minus;</span>
      <span id="close-btn" @click="close">&times;</span>
    </section>

    <section id="main-page" v-if="!isExtrasOpen">
      <section id="top">
        <div id="inputbar">
          <input type="text" spellcheck="false" placeholder="Enter URL"
            v-model="newURL" 
            @keyup.enter="fetchInfo">
          <span @click="fetchInfo">&plus;</span>
        </div>

        <div id="global-options" v-if="existsItems">
          <div v-if="anyToBeDownloaded">
            <span class="fas fa-chevron-circle-left" 
              @click="decrement(global)">
            </span>
            <span id="global-quality">{{ chosenQuality(global) || '&mdash;' }}</span>
            <span class="fas fa-chevron-circle-right" 
              @click="increment(global)">
            </span>
          </div>

          <span class="fas" 
            data-tooltip="Download Subtitles"
            v-if="anyToBeDownloaded" 
            :class="{selected: global.isSubsChosen, 'fa-closed-captioning': anySubbed}" 
            @click="updateChosenProp('subs')">
          </span>
          <span class="fas fa-music" 
            data-tooltip="Audio Only" 
            v-if="anyToBeDownloaded" 
            :class="{selected: global.isAudioChosen}" 
            @click="updateChosenProp('audio')">
          </span>
          <span v-else></span>
          <button v-if="chosenItems.length !== 0" @click="downloadOrPauseMany"> 
            {{ areChosenDownloading?'Pause':'Download' }} {{ anyChosen?'Selected':'All' }}
          </button>
        </div>
      </section>

      <section id="center">
        <div class="downloadable" :class="{chosen: item.isChosen}" v-for="(item, index) in downloadables">
          <section class="left">
            <img :src="item.thumbnail" onerror="this.src='../static/images/placeholder.png'">
            <span class="duration">{{ item.duration }}</span>
            <span class="fas fa-play-circle" 
              v-if="item.state === 'stopped'" 
              @click="download(item.url)">
            </span>
            <span class="fas fa-pause-circle" 
              v-else-if="item.state === 'downloading' || item.state === 'queued'" 
              @click="pause(item.url)">
            </span>
            <span v-else>
              <span class="fas fa-check"></span>
              <span class="fas fa-redo-alt" @click="restart(item.url)"></span>
            </span>
          </section>

          <section class="middle" @dblclick="choose(item)" @click="toggle(item)">
            <h1>{{ item.title }}</h1>
            <div class="options" v-if="item.progress.value == 0 && item.state === 'stopped'">
              <div>
                <span class="fas fa-chevron-circle-left" 
                  @dblclick.stop 
                  @click.stop="decrement(item)">
                </span>
                <span class="quality">{{ chosenQuality(item) || '&mdash;' }}</span>
                <span class="fas fa-chevron-circle-right" 
                  @dblclick.stop 
                  @click.stop="increment(item)">
                </span>
              </div>

              <span class="option-icon fas" 
                :class="{'fa-closed-captioning': item.subtitles.length !== 0, selected: item.isSubsChosen}" 
                @dblclick.stop 
                @click.stop="updateIsSubsChosen(item)">
              </span>
              <span class="option-icon fas fa-music" 
                :class="{selected: item.isAudioChosen}" 
                @dblclick.stop 
                @click.stop="updateIsAudioChosen(item)">
              </span>
            </div>

            <div class="progress" v-else>
              <span class="info">
                <span v-if="isCompleted(item)">
                  <span class="fas fa-folder-open" data-tooltip="Show in Folder" @click="showInFolder(item.filepath)"></span>
                </span>
                <span v-else-if="isStarting(item)">Starting Download</span>
                <span v-else-if="isQueued(item)">Queued</span>
                <span v-else-if="isPaused(item)">
                  <span>{{ item.progress.value }}% of {{ item.progress.size }}</span>
                  <span>Paused</span>
                </span>
                <span v-else-if="isDownloading(item)">
                  <span>{{ item.progress.value }}% of {{ item.progress.size }} &centerdot; {{ item.progress.speed }}</span>
                  <span>{{ item.progress.eta }}</span>
                </span>
              </span>

              <span v-if="!isCompleted(item)" class="bar">
                <span class="value" :style="progressValue(item.url)"></span>
              </span>
            </div>
          </section>

          <section class="right">
            <span class="close" @click="clear(item.url)">&times;</span>
          </section>
        </div>
        <div id="empty-message" v-if="!existsItems">
          Type or paste a link above or press the <span>&plus;</span> button to grab link from clipboard
        </div>
      </section>

      <section id="bottom">
        <span id="message">
          <span v-if="loadingItems !== 0" class="spinner"></span> 
          <span v-if="loadingItems !== 0">Loading {{ loadingItems }} {{ loadingItems>1?'URLs':'URL' }}</span>
        </span>
        <button v-if="anyCompleted" id="clear-completed-btn" @click="clearCompleted">Clear Completed</button>
        <button v-if="existsItems" id="clear-many-btn" @click="clearMany">Clear {{ anyChosen?'Selected':'All' }}</button>
      </section>
    </section>

    <section id="extras" v-else>
      <ul id="tabs">
        <li @click="activeTab = 'settings'" :class="{active: activeTab === 'settings'}">Settings</li>
        <li @click="activeTab = 'about'" :class="{active: activeTab === 'about'}">About</li>
      </ul>
      
      <div id="settings" v-if="activeTab === 'settings'">
        <div id="download-location">
          <label>Download Location</label>
          <div>
            <span id="location-text">{{ downloadLocation }}</span>
            <button id="choose-location" @click="selectDirectory">Browse</button>
          </div>
        </div>

        <div id="max-simultaneous">
          <label>Simultaneous Downloads <small>max. 5</small></label>
          <div>
            <span class="fas fa-chevron-circle-left" 
              @click="maxSimultaneous = maxSimultaneous>1?--maxSimultaneous:maxSimultaneous">
            </span>
            <span id="max-simultaneous-text">{{ maxSimultaneous }}</span>
            <span class="fas fa-chevron-circle-right" 
              @click="maxSimultaneous = maxSimultaneous<5?++maxSimultaneous:maxSimultaneous">
            </span>
          </div>
        </div>
      </div>
      <div id="about" v-else-if="activeTab === 'about'">
        <img src="../static/images/icon.png">
        <p id="app-name">Downline <em>{{ appVersion }}</em></p>
        
        <p>
          Downline is a free and open-source video and audio downloader for
          YouTube, Vimeo, Dailymotion, SoundCloud and many other sites
        </p>
        <button @click="openLink('https://jarbun.github.io/downline/')">Visit Website</button>
      </div>
    </section>
  </div>

  <script src="../static/js/vue.min.js"></script>
  <script src="./renderer.js"></script>
</body>
</html>