<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Downline</title>
  <link rel="stylesheet" href="../static/css/lib/fontawesome.min.css">
  <link rel="stylesheet" href="../static/css/lib/solid.min.css">
  <link rel="stylesheet" href="../static/css/app.css">
  <link rel="stylesheet" href="../static/css/titlebar.css">
  <link rel="stylesheet" href="../static/css/main-page.css">
  <link rel="stylesheet" href="../static/css/downloadable.css">
  <link rel="stylesheet" href="../static/css/extras.css">
</head>

<body>
  <div id="app">
    <section id="titlebar">
      <span class="fas" :class="[{ 'fa-cog': !isExtrasOpen }, { 'fa-arrow-left': isExtrasOpen }]" @click="isExtrasOpen = !isExtrasOpen"></span>
      <h1>Downline</h1>
      <span id="minimize-btn" @click="minimize">&minus;</span>
      <span id="close-btn" @click="close">&times;</span>
    </section>

    <section id="main-page">
      <section id="inputbar">
        <input type="text" spellcheck="false" placeholder="Enter URL" v-model="newURL" @keyup.enter="fetchInfo">
        <span @click="fetchInfo" class="fas fa-plus"></span>
      </section>

      <section id="center" :class="{'center-height': showMoreOptions}">
        <transition-group name="fade">
          <div class="downloadable" :class="{chosen: item.isChosen}" v-for="(item, index) in downloadables" :key="item.url">
            <section class="left">
              <img :src="item.thumbnail" onerror="this.src='../static/images/placeholder.png'">
              <span class="fas fa-play-circle" v-if="item.state === 'stopped'" @click="download(item.url)"></span>
              <span class="fas fa-pause-circle" v-else-if="item.state === 'downloading' || item.state === 'queued'" @click="pause(item.url)"></span>
              <span v-else-if="isCompleted(item)">
                <span class="fas fa-check"></span>
                <span class="fas fa-redo-alt" @click="restart(item.url)"></span>
              </span>
            </section> 

            <section class="middle" @click="choose(item)">
              <h1>{{ item.title }}</h1>
              <span class="duration">{{ item.duration }}</span>
              <div class="options" v-if="item.progress.value == 0 && item.state === 'stopped'">
                <div>
                  <span class="fas fa-chevron-circle-left" @dblclick.stop @click.stop="decrement(item)">
                  </span>
                  <span class="quality">{{ chosenQuality(item) || '&mdash;' }}</span>
                  <span class="fas fa-chevron-circle-right" @dblclick.stop @click.stop="increment(item)">
                  </span>
                </div>

                <span class="option-icon fas" :class="{'fa-closed-captioning': item.subtitles.length !== 0, selected: item.isSubsChosen}"
                  @dblclick.stop @click.stop="updateIsSubsChosen(item)">
                </span>
                <span class="option-icon fas fa-music" :class="{selected: item.isAudioChosen}" @dblclick.stop
                  @click.stop="updateIsAudioChosen(item)">
                </span>
              </div>

              <div class="progress" v-else>
                <span class="info">
                  <span v-if="isCompleted(item)">
                    <span class="fas fa-folder" @click="showInFolder(item.filepath)"></span>
                  </span>
                  <span v-else-if="isStarting(item)">Starting Download</span>
                  <span v-else-if="isQueued(item)">Queued</span>
                  <span v-else-if="isPaused(item)">
                    <span>{{ item.progress.value }}% of {{ item.progress.size }}</span>
                    <span>Paused</span>
                  </span>
                  <span v-else-if="isDownloading(item)">
                    <span>{{ item.progress.value }}% of {{ item.progress.size }} &centerdot; {{ item.progress.speed }}</span>
                    <span>{{ item.progress.eta }}</span>
                  </span>
                  <span class="postprocessing" v-else-if="isPostprocessing(item)">
                    <span class="spinner"></span>
                    Postprocessing
                  </span>
                </span>

                <span v-if="!isCompleted(item) && !isPostprocessing(item)" class="bar">
                  <span class="value" :style="progressValue(item.url)"></span>
                </span>
              </div>
            </section>

            <section class="right">
              <span class="close" @click="clear(item.url)">&times;</span>
            </section>
          </div>
        </transition-group>
        <div id="empty-message" :class="{'show-empty-message': !existsItems}">
          Type or paste a link above or press the <span>&plus;</span> button to grab link from clipboard
        </div>
      </section>

      <section id="bottom">
        <section id="more-options" :class="{'more-options-height': showMoreOptions}">
          <div id="global-options" v-if="existsItems">
            <div id="download-or-pause-many" v-if="chosenItems.length !== 0" @click="downloadOrPauseMany" class="fas"
              :class="[{'fa-pause-circle': areChosenDownloading}, {'fa-play-circle': !areChosenDownloading}]"></div>
            <span id="global-quality-select" v-if="anyToBeDownloaded">
              <span class="fas fa-chevron-circle-left" @click="decrement(global)"></span>
              <span id="global-quality">{{ chosenQuality(global) || '&mdash;' }}</span>
              <span class="fas fa-chevron-circle-right" @click="increment(global)"></span>
            </span>
            <span class="fas fa-closed-captioning" data-tooltip="Download Subtitles" v-if="anyToBeDownloaded" :class="{selected: global.isSubsChosen, 'hidden': !anySubbed}"
              @click="updateChosenProp('subs')">
            </span>
            <span class="fas fa-music" data-tooltip="Audio Only" v-if="anyToBeDownloaded" :class="{selected: global.isAudioChosen}"
              @click="updateChosenProp('audio')">
            </span>
          </div>
          <div id="buttons">
            <span data-tooltip="Clear Completed" :class="{'hidden': !anyCompleted}" class="fas fa-minus-circle" @click="clearCompleted"></span>
            <span data-tooltip="Clear All" v-if="existsItems && !anyChosen" class="fas fa-times-circle" @click="clearMany"></span>
            <span data-tooltip="Clear Selected" v-if="existsItems && anyChosen" class="fas fa-times-circle" @click="clearMany"></span>
          </div>
        </section>

        <div id="messages">
          <span id="loading-indicator">
            <span class="spinner hidden"></span>
            <span class="hidden">Loading</span>
          </span>
          <span id="show-hide" @click="toggleShowMore">
            <span class="fas fa-angle-up" :class="{'rotate-arrow': showMoreOptions}"></span>
          </span>
          <span :class="{'hidden': !existsItems}" id="status">
            {{ downloadables.length==1?'1 Item':downloadables.length+' Items' }}
          </span>
        </div>
      </section>
    </section>

    <section id="extras" :class="{'show-extras': isExtrasOpen}">
      <ul id="tabs">
        <li @click="activeTab = 'settings'" :class="{active: activeTab === 'settings'}">Settings</li>
        <li @click="activeTab = 'about'" :class="{active: activeTab === 'about'}">About</li>
      </ul>

      <section id="settings" v-if="activeTab === 'settings'">
        <div id="download-location">
          <label>Download Location</label>
          <div>
            <span id="location-text">{{ downloadLocation }}</span>
            <button id="choose-location" @click="selectDirectory">Browse</button>
          </div>
        </div>

        <div id="max-simultaneous">
          <label>Simultaneous Downloads <small>max. 5</small></label>
          <div>
            <span class="fas fa-chevron-circle-left" @click="maxSimultaneous = maxSimultaneous>1?--maxSimultaneous:maxSimultaneous"></span>
            <span id="max-simultaneous-text">{{ maxSimultaneous }}</span>
            <span class="fas fa-chevron-circle-right" @click="maxSimultaneous = maxSimultaneous<5?++maxSimultaneous:maxSimultaneous"></span>
          </div>
        </div>

        <div class="formats">
          <header>Audio Format</header>
          <div>
            <span class="fas fa-chevron-circle-left" @click="audioFormatIndex = audioFormatIndex>0?--audioFormatIndex:audioFormatIndex"></span>
            <span class="format-text">{{ audioFormats[audioFormatIndex] }}</span>
            <span class="fas fa-chevron-circle-right" @click="audioFormatIndex = audioFormatIndex<6?++audioFormatIndex:audioFormatIndex"></span>
          </div>
        </div>

        <div class="formats">
          <header>Video Format</header>
          <div>
            <span class="fas fa-chevron-circle-left" @click="videoFormatIndex = videoFormatIndex>0?--videoFormatIndex:videoFormatIndex"></span>
            <span class="format-text">{{ videoFormats[videoFormatIndex] }}</span>
            <span class="fas fa-chevron-circle-right" @click="videoFormatIndex = videoFormatIndex<3?++videoFormatIndex:videoFormatIndex"></span>
          </div>
        </div>

        <div id="autonumber-items" @click="autonumberItems = !autonumberItems">
          <span class="fas" :class="[{ 'fa-square': !autonumberItems }, { 'fa-check-square': autonumberItems }]"></span>
          <label>Autonumber Playlist Items</label>
        </div>
      </section>
      <section id="about" v-else-if="activeTab === 'about'">
        <div id="app-name-logo">
          <img src="../static/images/icon.png">
          <span @click="openLink('https://jarbun.github.io/downline/')">
            Downline
          </span>
        </div>
        <div id="app-version">Version {{ appVersion }}</div>
        <p>Free and open-source media downloader for YouTube and many other sites</p>
        <button id="check-for-updates" @click="checkForUpdates">
          <span class="spinner" v-show="newVersionMessage == 'loading'"></span>
          {{ newVersionMessage=='loading'?'Checking':'Check for Updates'}}
        </button>
        <span id="new-version-message">
          {{ newVersionMessage=='loading'?'':newVersionMessage }}
        </span>

        <button @click="update">
          <span class="spinner" v-show="ytdlUpdateMessage == 'loading' || ytdlDownloading"></span>
          {{ ytdlUpdateMessage=='loading'?'Checking':(ytdlDownloading?'Updating':'Update youtube-dl')}}
        </button>
        <span id="ytdl-update-message">
          {{ ytdlUpdateMessage=='loading'?'':ytdlUpdateMessage }}
        </span>
      </section>
    </section>
  </div>

  <script src="../static/js/vue.min.js"></script>
  <script src="./renderer.js"></script>
</body>

</html>